# ======================================
# ARCHIVOS COMPILADOS DE PYTHON
# ======================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyd
*$py.class

# ======================================
# ENTORNOS VIRTUALES
# ======================================
.venv/
venv/
env/

# ======================================
# ARCHIVOS DE LOGS Y TEMPORALES
# ======================================
*.log
logs/
*.csv
!logs/.gitkeep
*.tmp
*.bak

# ======================================
# ARCHIVOS DE CONFIGURACIÓN LOCAL
# ======================================
.env
*.env

# ======================================
# ARCHIVOS DE SISTEMA / IDEs
# ======================================
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# ======================================
# ARCHIVOS DE TEST Y COBERTURA
# ======================================
pytest_cache/
.coverage
htmlcov/


# ======================================
# ARCHIVOS DE CONTENEDOR Y CI/CD
# ======================================
*.tar
*.gz
*.zip
